{include file="Common/header" /}
<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
<div class="page__hd" style="padding:15px 5px 20px 5px;">
    <div>
        <h1 class="page__title" style="text-align: center">在线报名</h1>
    </div>
    <p class="page__desc" style="text-align: center"><font color="#006400">{$data['explain']}</font></p>
</div>
<div class="page__bd">
    <form id="baomingForm" method="post" action="{:U('Payment/confirm')}">
        <div class="weui-cells__title">姓名</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" name="name" type="text" placeholder="请输入本人身份证姓名"/>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">手机号码</div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select weui-cell_select-before">
                <div class="weui-cell__hd">
                    <select class="weui-select" name="select2">
                        <option value="1">+86</option>
                    </select>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" name="phone" pattern="[0-9]*" placeholder="请输入本人用的号码"/>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">预付费用</div>
        <div class="weui-cells weui-cells_radio">
            {volist name="data['money']" id="vo"}
            <label class="weui-cell weui-check__label" for="x1{$key}">
                <div class="weui-cell__bd">
                    <p>{$vo}元</p>
                </div>
                <div class="weui-cell__ft">
                    <input type="radio" name="count_money" class="weui-check"  value="{$vo}" id="x1{$key}" checked="checked"/>
                    <span class="weui-icon-checked"></span>
                </div>
            </label>
            {/volist}
            <input type="hidden" name="explain" value="怡安学车报名费用">
            <input type="hidden" name="payment_type" value="1">
        </div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
        </div>
    </form>
</div>
<script>
    $(function () {
        $('#showTooltips').click(function () {
            var thisForm = $('#baomingForm');
            if (thisForm.find("input[name='name']").val() == '') {
                showErrer('请填写真实姓名！');
                return false;
            }
            var phone = thisForm.find("input[name='phone']").val();
            var regPhone = /^1[3458]\d{9}$/;
            if (phone == '' || !regPhone.test(phone)) {
                showErrer('请填写正确的手机号码！');
                return false;
            }
             thisForm.submit();
        });
        var showErrer = function ($errerTxt) {
            var $tooltips = $('.js_tooltips');
            $tooltips.text($errerTxt);
            $tooltips.css('display', 'block');
            setTimeout(function () {
                $tooltips.css('display', 'none');
            }, 2000);
        }
    });
</script>
{include file="Common/footer" /}